@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
.body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
  
    
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;

}
.form-control:focus {
	border-color: #f98e1d;
  
}
.form-control, .btn {        
	border-radius: 3px;
  
}
.signup-form {
	width: 700px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top : 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 10px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 5px 5px 10px #999;
	padding: 30px;
	margin-left: 100px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 15px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
    background-color: #f98e1d;
    border-color: #f98e1d
}
.signup-form .btn:hover {
    background-color: #a85a0c;
    border-color: #f98e1d;  
}

.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #f98e1d;
	text-decoration: none;
	
}
.signup-form a:hover {
	text-decoration: underline;
}

.background {
     
    background-size: cover;
	margin-left: 4rem;
	
}
.eye
{
	position :absolute;
}
#hide1
{
  display:none;
}