@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #f3e7d5;
    --sidebar-color: linear-gradient(to bottom, rgba(248, 233, 228, 0.968), #fb8f1c21);
    --primary-color: #f98e1d;
    --primary-color-light: #f7e9db;
    --text-color: rgb(22, 21, 21);
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
}

.designer-slider {
    position:fixed;
    top:0;
    left:0;
    background: var(--sidebar-color);
    height: 100%;
    width: 250px;
    z-index: 100;
}
.designer-slider li{
    height:50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.designer-slider .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.designer-slider .icon, .designer-slider .text{
    color: var(--text-color);
}

.designer-slider .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.designer-slider header{
    position: relative;
}

.designer-slider header .logo-section{
    display: flex;
    align-items: center;
}

.designer-slider header .logo-text{
    display: flex;
    flex-direction: column;
}

header .logo-section .heading{
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

header .logo-text .heading {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

header .logo-text .sub-heading {
    margin-top: -9px;
    font-size: 19px;
    display: block;
}

.designer-slider .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.designer-slider header .image img{
    width: 70px;
    border-radius: 6px;
}

.designer-slider .menu{
    margin-top: 55px;
}

.designer-slider li a{
    text-decoration: none;
    background-color: var(--sidebar-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color:var(--text-color); 
    font-size: 17px;
    font-weight: 500;
    /* margin-top:-20px; */
}
.designer-slider li a:hover{
    background-color: var(--primary-color);
}

.designer-slider li a:active{
    background-color: var(--primary-color);
    color: #ffff
}


.designer-slider li a:hover .icon, .designer-slider a:hover .text{
    color: #ffff
}

.designer-slider .menu-bar{
    height: calc(100%-65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100%-250px); 
    background-color: #f3e7d5;   
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color:var(--text-color);
    padding: 12px 60px;
}

.home h2, .home p{
    padding:0 60px 10px;
}

.border {
    position: relative;
    left: 37px;
    border: 0.5px solid var(--text-color);
    margin-top: -9px;
    width : 1180px;
}
.btn-primary
{
    margin-left:100px;
}

.table{
   
	border-radius: 10px;
	margin-bottom: 15px;
    
}
table, td, th {
    border: 0.1px solid rgb(87, 86, 86);
    padding: 10px;
  }

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #e1e0df;
    color: black;
}
  
  table {
    /* width : 50%; */
    border-collapse: collapse;
    text-align: center;
    table-layout:inherit;
    border: 0.1px solid grey;
   
  }
  .container {
    background: #f2f3f7;
    box-shadow: 5px 5px 10px rgb(28, 28, 28);
    padding: 40px 20px;
    border-radius: 20px;
    width: 1173px;
    margin-left: 3rem;
    align-items: center;
    font-size: small;
  }
  
  th {
    background-color: #f98e1d;
    color:white;
  }

  