@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


.border
{
    position: relative;
    left: 0px;
    border: 0.5px solid var(--text-color);
    margin-top: 3px;
}
.carousel-indicators.active
{
   background-color: black;
}
.slideshow
{
    width: 800px;
    height: 500px;
    margin-left: 250px;
    background-color:#ffff;
}
.border1
{
    position: relative;
    left: 0px;
    border: 0.5px solid var(--text-color);
    margin-top: 3px;
}
.heading2
{
    margin-top:-30px;
}
.heading3
{
    margin-top: 100px;
}
.back
{
    margin-left: 330px;
    margin-top: -50px;
    font-size:16px;
      font-weight:bold;
      background:#f98e1d;
      width: 250px;
      padding:8px;
      text-align:center;
      text-decoration:none;
      text-decoration:none;
      text-transform:uppercase;
      color:#ffff;
      border-radius:7px;
      cursor:pointer;
      box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.book
{
    margin-left: 600px;
    margin-top: -40px;
    font-size:16px;
      font-weight:bold;
      background:#f98e1d;
      width: 250px;
      padding:8px;
      text-align:center;
      text-decoration:none;
      text-decoration:none;
      text-transform:uppercase;
      color:#ffff;
      border-radius:7px;
      cursor:pointer;
      box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.key
{
    margin-left:400px;
}
.get
{
    margin-left:700px;
    margin-top:-620px;
}
.suspension
{
    margin-left:700px;
    margin-top:-310px;
}
.features
{
    margin-left:700px;
    margin-top:-220px;
}
